graphviz
m2r2
sphinx
sphinx_rtd_theme
sphinx_automodapi
sphinx-argparse

# Additional packages needed to be installed
# so that the docs can render the API correctly
# without the need of mocking every single import
--index-url https://artefact.skao.int/repository/pypi-internal/simple
--extra-index-url https://pypi.org/simple
mock
scipy
ska_sdp_datamodels
